  <style>
        .tilla{
            background-color: rgb(199, 206, 193);
           
        }
        .picture{
            width: 500px;
            height: 250px;
        }
        .text{
            background-color: rgb(32, 195, 116);
            text-align: center;
        }
        .matn{
            background-color: greenyellow;
            text-align: center;
        }
    </style>